<div class="w-1/2 bg-planit-blue-gradient text-white flex flex-col justify-center items-start hidden md:block">

  <div class="ml-20 mt-20 mr-20">
     <%= image_tag 'Logo-secondary.png', alt: 'Logo', class: 'mb-8' %>
    <h1 class="text-h3-lg lg:text-h3-lg md:text-h3-sm sm:text-h3-sm font-bold mb-4">Comienza a simplificar tus acciones, <span class="text-planit-dark-blue">aquí.</span></h1>
    <h6 class="text-h6-lg lg:text-h6-lg md:text-h6-sm sm:text-h6-sm">En nuestra plataforma web vas a encontrar todo lo que estás buscando</h6>
  </div>
  <div class="absolute bottom-0 left-0">
    <%= image_tag 'Mock-up.png', alt: 'Mockup', class: 'hidden xl:block' %>
    <%= image_tag 'Mock-up.png', alt: 'Mockup', size: '420', class: 'xl:hidden' %>
  </div>
</div>
