<div class="block md:hidden p-4 fixed bottom-0 w-full">
  <div class="flex justify-between items-center">
    <p class="text-h6-sm text-planit-grey-2">contacto@ejemplo.com</p>
    <p class="text-h6-sm text-planit-grey-2">+123 456 7890</p>
  </div>
  <hr class=" border-planit-grey-2" />
  <div class="flex justify-between items-center">
    <p class="text-h6-sm text-planit-grey-2">Síguenos:</p>
    <div class="flex space-x-4">
      <a href="https://www.facebook.com" target="_blank" class="text-planit-grey-2 hover:text-gray-900">
        <%= image_tag 'icons/Facebook.svg', alt: 'Facebook', class: 'w-2 h-2' %>
      </a>
      <a href="https://www.linkedin.com" target="_blank" class="text-planit-grey-2 hover:text-gray-900">
        <%= image_tag 'icons/Linkedin.svg', alt: 'LinkedIn', class: 'w-2 h-2' %>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="text-planit-grey-2 hover:text-gray-900">
        <%= image_tag 'icons/Twitter.svg', alt: 'Twitter', class: 'w-2 h-2' %>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="text-planit-grey-2 hover:text-gray-900">
        <%= image_tag 'icons/Instagram.svg', alt: 'Instagram', class: 'w-2 h-2' %>
      </a>
    </div>
  </div>
</div>
