<div class="block md:hidden fixed top-0 w-full">
    <%= image_tag 'Fondo.svg', alt: 'Navbar Mobile', class: "absolute inset-0 z-10 w-full max-h-64" %>
  <div class="relative flex justify-between items-center">
    <div class="relative flex justify-between items-center w-full px-4 z-10">
      <a href="#" class="text-white hover:text-gray-900 z-10 p-4">
        <%= image_tag 'Logo-secondary', alt: 'Menu', class: 'w-22 mt-10' %>
      </a>
    </div>
  </div>
</div>
