@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.text-gradient {
  background: linear-gradient(to right, #0F58B7, #62D9FF); /* Define tu gradiente aquí */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=checkbox]:checked+label {
  color: white;
  background: #0F58B7;
}
