<div class="font-sans text-gray-900">
  <h1 class="text-h1-lg lg:text-h1-lg md:text-h1-sm sm:text-h1-sm">Bienvenido a Tu Aplicacion</h1>
  <h2 class="text-h2-lg lg:text-h2-lg md:text-h2-sm sm:text-h2-sm">Subtítulo</h2>
  <h3 class="text-h3-lg lg:text-h3-lg md:text-h3-sm sm:text-h3-sm">Encabezado 3</h3>
  <h4 class="text-h4-lg lg:text-h4-lg md:text-h4-sm sm:text-h4-sm">Encabezado 4</h4>
  <h5 class="text-h5-lg lg:text-h5-lg md:text-h5-sm sm:text-h5-sm">Encabezado 5</h5>
  <h6 class="text-h6-lg lg:text-h6-lg md:text-h6-sm sm:text-h6-sm">Encabezado 6</h6>
  <p class="text-lg lg:text-text-lg md:text-sm sm:text-sm">Este es un texto de ejemplo usando la fuente Poppins.</p>
  <p class="text-lg lg:text-bold-text-lg md:text-sm sm:text-sm font-bold">Este es un texto en negrita usando la fuente Poppins.</p>
  <p class="text-lg lg:text-small-text-lg md:text-sm sm:text-sm">Este es un texto pequeño.</p>
  <p class="text-lg lg:text-small-text-light-lg md:text-sm sm:text-sm font-light">Este es un texto pequeño y claro.</p>
  <p class="text-lg lg:text-tiny-text-lg md:text-sm sm:text-sm">Este es un texto diminuto.</p>
  <button class="text-lg lg:text-button-lg md:text-button-sm sm:text-button-sm bg-blue-500 text-white py-2 px-4 rounded">Botón</button>
</div>
